<div id="ukraine-air-alerts-map"{% if compact_mode %} class="compact-mode"{% endif %}>
    <div class="map-container">
        {% if not compact_mode %}
            <div class="map-header">
                <h2>
                    {{ 'Air Raid Alerts in Ukraine' | t }}
                    <img src="https://cdn.alerts.in.ua/assets/icons/ukraine.png"
                         alt="Ukraine"
                         class="map-header-flag">
                </h2>
                <div class="last-updated">
                    {{ 'Last updated:' | t }} <span id="last-updated-time">{{ 'Loading...' | t }}</span>
                </div>
            </div>
        {% endif %}

        {% if show_legend %}
            <div class="map-legend">
                <div class="legend-item">
                    <span class="legend-color legend-none"></span>
                    <span class="legend-text">{{ 'No Alert' | t }}</span>
                </div>
                <div class="legend-item">
                    <span class="legend-color legend-partial"></span>
                    <span class="legend-text">{{ 'Partial Alert' | t }}</span>
                </div>
                <div class="legend-item">
                    <span class="legend-color legend-full"></span>
                    <span class="legend-text">{{ 'Full Alert' | t }}</span>
                </div>
            </div>
        {% endif %}

        <div class="ukraine-map">
            <svg id="ukraine-map-svg" viewBox="0 0 1000 670" xmlns="http://www.w3.org/2000/svg" aria-label="{{ 'Air Raid Alerts in Ukraine' | t }}">
                <!-- SVG paths of Ukrainian regions will be injected dynamically via JavaScript -->
            </svg>
        </div>

        {% if show_status %}
            <div class="map-status">
                <div id="connection-status" class="status-connected">
                    <span class="status-indicator"></span>
                    <span class="status-text">{{ 'Connected' | t }}</span>
                </div>
                <div class="refresh-info">
                    {{ 'Next update in:' | t }} <span id="countdown">--</span> {{ 'sec' | t }}
                </div>
            </div>
        {% endif %}
    </div>
</div>
